<h1>Home Page</h1>

<% @pins.each_slice(3) do |slice| %>
    <div class="row">
    <% slice.each do |pin| %>
        <div class="col-md-4 pin">
            <a href="/pins/<%= pin.id %>"><img src="<%= pin.pic_url %>"><br>
            <h2><%= pin.title %></h2></a>
        </div>
    <% end %>
    </div>
<% end %>

<a href="/pins/new" class="btn btn-success">Add a Pin</a>